<div class = "list">
  <div class = 'list-name'><%= list.name %></div>
  <div class = 'list-delete'>
    <%= link_to "Delete List", user_list_path(user, list), 
        method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
  </div>
</div>


