<div class = 'list-show'>
  <div class = 'tasks-header'>
    <%= list.name %>
  </div>
  <div class = 'tasks-header2'>
    Tasks:
  </div>
  <%= render partial: 'tasks/index', locals: { tasks: list.tasks } %>
  <%= render partial: 'tasks/new', locals: { list: list } %>
</div>