<p>
  <span><%= list.name %></span>
  <span>:id - <%= list.id %></span>
  <span><%= link_to "Delete List", user_list_path(@user, list), method: :delete, data: { confirm: "Are you sure?" } %></span>
<p>