<div class = "taskFormBox">
  <%= form_with model: [user, Task.new], class: "taskForm" do |form| %>
    <div class = "taskForm-header">Add a task:</div>
    <%= form.text_field :content, class: "taskForm-input" %>
    <%= form.submit "Add Task", class: "taskForm-button" %>
  <% end %>
</div>