<div class= "task-new">
  <%= form_with model: Task.new, class: "task-new-form" do |form| %>
    <%= form.text_field :content, class: "task-new-input" %>
    <%= form.submit "Add Task", class: "task-new-button" %>
  <% end %>
</div>