<div class = "task">
  <div class = "task-header">Task</div>
  <div class = "task-content"><%= task.content %></div>
  <div class = "task-deleteLink"><%= link_to "Delete Task", user_task_path(user, task), method: :delete, data: { confirm: "Are you sure?" } %></div>
</div>