<div class = 'task-show'>
  <div class = 'subtasks-header'>
    <%= task.content %>
  </div>
  <div class = 'subtasks-header2'>
    Subtasks:
  </div>
  <%= render partial: 'subtasks/index', locals: { subtasks: task.subtasks } %>
  <%= render partial: 'subtasks/new', locals: { task: task } %>
</div>