<div class = "navi">
  <h2>Navigation</h2>
  <%= link_to edit_user_registration_path do %>
    <p>Profile Settings</p>
  <% end %>
  <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
</div>