  <div class = "column-right-subtasks">
    <%= render partial: "subtasks/index", locals: { user: user, task: task } %>
    <%= render partial: "subtasks/new", locals: { user: user , task: task } %>
  </div>