<div class = 'columns'>
  <div class = 'column-left'>
    <div class = 'lists-header'>Lists</div>
    <%= render partial: 'lists/index', locals: { lists: user.lists } %>
    <%= render partial: 'lists/new' %>
  </div>
  
  <div class = 'column-center'>
    <% if unsorted_list != nil %>
      <%= render partial: 'lists/show.html', locals: { list: unsorted_list } %>
    <% else %>
      <%# list/show.js works here %>
      <div class = 'list-show'>
        <div class= 'tasks-header'>Tasks of List</div>
      </div>
    <% end %>
  </div>

  <div class = 'column-right hide'>
    <%# task/show.js works here %>
    <div class = 'task-show'>
      <div class= 'subtasks-header'>Subtasks of Task</div>
    </div>
  </div>
</div>