<div class = "columns">
  
  <%= render partial: "home/index_column_left", locals: { user: user } %>

  <%= render partial: "home/index_column_center", locals: { user: user } %>

  <div class = "column-right hide">
    <div class = "column-right-subtasks">
      <!-- reload_subtasks.js.erb work here -->
    </div>
    <div class = 'column-right-toggle'>
      <%= button_tag 'Hide Subtasks', type: 'button', name: 'toggle_subtasks',
          id:'toggle_subtasks', class: 'toggle_subtasks' %>
    </div>
  </div>
</div>