<div class= "subtask-new">
  <%= form_with model: [task, Subtask.new], class: "subtask-new-form" do |form| %>
    <%= form.text_field :content, class: "task-new-input" %>
    <%= form.submit "Add Subtask", class: "task-new-button" %>
  <% end %>
</div>