<div class= "subtaskFormBox">
  <%= form_with url: user_task_subtasks_path(user, task), scope: "subtask", class: "subtaskForm"  do |form| %>
    <%= form.text_field :content, class: "subtaskForm-input" %>
    <%= form.submit "Add Subtask", class: "subtaskForm-button" %>
  <% end %>
</div>