/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* document */
 body {
  background-color: #f4f4f4;
  font-family: "Arial";
 }
 
 .alert {
   background-color: rgb(231, 111, 111);
 }
 
 .notice {
   background-color: rgb(111, 231, 121);
 }

/* header */
.header {
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.header a {
  color: aliceblue;
  text-decoration: none;
}

.header a:hover {
  color: rgb(154, 178, 202);
  /* text-decoration: underline; */
}

.header-header {
  color: aliceblue;
  font-size: 32px;
  font-weight: bold;
  margin-right: auto;
}

.header-profile {
  margin-right: 20px;

}

.header-signout {
}

/* main structure: 3 columns */

.columns {
  display: flex;
}

.column-left {
  width: 300px;
  border: 1px solid lightgray;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

}

.column-center {
  border: 1px solid lightgray;
  flex: 2 1 0px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.column-right {
  border: 1px solid lightgray;
  padding: 20px;
  flex: 1 2 0px;
}

/* column-left */

.lists-default-header, .lists-sortable-header  {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.lists-default, .lists-sortable {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  padding: 10px 20px;
  border: 1px solid lightgray;
  background-color: #e9edff;

}

.list a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.list a:hover {
  color: black;
}

.list-name {
  flex: 1 1 0px;
}

.list-new {
  padding: 20px;
}

/* column-center */


/* task-new */

.task-new-form {
  display: flex;
  padding: 10px 20px;
  border: 1px solid lightgray;

}

.task-new-input {
  flex: 1 1 0px;
}

.task-new-button {
  margin-right: 20px;
}

/* tasks */

.tasks-header {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

/* task */

.task {
  background-color: #e9edff;
  padding: 20px;
  display: flex;
  border: 1px solid lightgray;
}

.task-header {
  margin-right: 20px;
}

.task-content {
  flex: 1 1 0px;
  margin-right: 20px;
}

.task-lists {
  margin-right: 20px;
}

.task-subtasks {
  margin-right: 20px;
}

.task-delete {
}

.task a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.task a:hover {
  color: black;
}

/* column-right */

.column-right {
  padding: 20px 10px;
}

.subtasks {
  display: flex;
  flex-direction: column;
}

.subtasks-header {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;  
  text-align: center;
}

/* subtasks */

.subtask {
  background-color: #e9edff;
  padding: 20px;
  display: flex;
  border: 1px solid lightgray;
}

.subtask-content {
  flex: 1 1 0px;
}

.subtask-delete {
  margin-left: 20px;
}

.subtask a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.subtask a:hover {
  color: black;
}

/* subtaskForm */

.subtask-new-form {
  display: flex;
  padding: 20px;
  border: 1px solid lightgray;
}

.subtask-new-input {
  flex: 1 1 0px;
}

.subtask-new-button {
  margin-right: 20px;
}

.column-right-toggle {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.toggle_subtasks {
}

/* hiding elements */

.hide {
  display: none;
}