/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* document */
 body {
  background-color: #f4f4f4;
  font-family: "Arial";
 }

 a {
   color: black;
 }

 h2 {
  margin: 0;
 }

.alert {
  background-color: rgb(231, 111, 111);
}

.notice {
  background-color: rgb(111, 231, 121);
}

.header {
  background-color: royalblue;
  color: aliceblue;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.navi {
  border: 1px solid lightgray;
}

/* main structure */

.columnsApp {
  display: flex;
  /* justify-content: center; */
  /* align-items: stretch; */
}

.column {
  border: 1px solid lightgray;
}

.columnLeft {
  width: 300px;
  border: 1px solid lightgray;

}

.columnCenter {
  flex: 2 1 0px;
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.columnRight {
  flex: 1 2 0px;
  padding: 20px;
  border: 1px solid lightgray;
}

/* columnCenter */

.columnCenter-header {
  text-align: center;
}


/* taskForm */

.taskForm {
  display: flex;
  padding: 20px;

}

.taskForm-header {
  margin-right: 20px;
}

.taskForm-input {
  flex: 1 1 0px;
}

.taskForm-button {
  margin-left: 20px;
}

/* task */

.task-new {
  text-align: center;
}

.task {
  background-color: #e9edff;
  padding: 20px;
  display: flex;
  border: 1px solid lightgray;
}

.task-header {
  margin-right: 20px;
}

.task-content {
  flex: 1 1 0px;
}

.task-deleteLink {
  margin-left: 20px;
}

/* list */

.list {
  display: flex;
  flex-direction: column;
}

.listHeader {
  text-align: center;
  padding: 20px;
}

/* columnRight */

.columnRight-header {
  text-align: center;
  margin-bottom: 20px;
}

/* subtasks */

.subtask {
  background-color: #e9edff;
  padding: 20px;
  display: flex;
  border: 1px solid lightgray;
}

.subtask-header {
  margin-right: 20px;
}

.subtask-content {
  flex: 1 1 0px;
}

.subtask-deleteLink {
  margin-left: 20px;
}

/* subtask for each task */

.subtaskHeader {
  padding-bottom: 20px;
  text-align: center;
}

.subtasks-empty {
  padding-left: 20px;
}

/* subtaskForm */

.subtaskForm {
  display: flex;
  padding: 20px;
}

.subtaskForm-input {
  flex: 1 1 0px;
}

.subtaskForm-button {
  margin-left: 20px;
}

/* 
.taskForm {
  display: flex;
  padding: 20px;

}

.taskForm-header {
  margin-right: 20px;
}

.taskForm-input {
  flex: 1 1 0px;
}

.taskForm-button {
  margin-left: 20px;
} */