/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #f4f4f4;
  font-family: "Arial";
 }

 a {
   color: black;
 }

.alert {
  background-color: rgb(231, 111, 111);
}

.notice {
  background-color: rgb(111, 231, 121);
}

.header {
  background-color: royalblue;
  color: aliceblue;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.navi {
  border: 1px solid lightgray;
}

.columns {
  display: flex;
  /* justify-content: center; */
  /* align-items: stretch; */
}

.column {
  border: 1px solid lightgray;
}

.column-left {
  width: 300px;
}

.column-center {
  flex: 1 1 0px;
}

.column-right {
  flex: 1 1 0px;
}

.task-new, .tasks-unsorted, .list, .lists, .links {
  background-color: #ffffff;
}

.task-new {
  text-align: center;
}

.task {
  background-color: #e9edff;
}